* {
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 2000px;
  padding-top: 40px;
}

p {
  margin: 0.5em !important;
}


a.navlink {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

a.navlink:hover {
  text-decoration: none;
}

/* Header */
header {
  text-align: center;
}

header img {
  max-width: 325px;
  width: 100%;
  height: auto;
}

a.highlight {
  padding: 20px;
  color: #FFF;
  border-radius: 4px;
}

a.highlight:hover {
  color: #DDD;
}

.highlight {
  background-color: #944;
}

.partner {
  text-align: center;
  margin: auto;
}

.partner img {
  width: 250px;
}

div.performer {
  padding-bottom: 20px;
}
.performer img {
  width: 100%;
  height: auto;
}

.dj img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #222;
  text-align: center;
}

footer a {
  color: #FFF;
  text-decoration: none;
}

footer a:hover {
  color: #DDD;
  text-decoration: none;
}

/* Youtube */
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin-bottom: 20px;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Social Links */
.social a {
  color: #FFFFFF !important;
}

.social a:hover {
    color: #4060A5 !important;
}
